html, body {
  scroll-behavior: auto;
  margin:0;
  padding:0;
}


body {
 color: black;
 background-image: url("../assets/background/img4.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 overflow: scroll;
 font-family: 'Archivo Narrow', sans-serif;
 color: black;
 width:100vw;
 height:100vh;
}

#waterHolder {
  z-index:-999999999;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}



#waterHolder canvas{

}
/*
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  color: #24bae3;
  z-index: 100;
}

.previous {
  color: grey;
  z-index: 100;
  font-family:"Courier New", Courier, monospace;
}

.next {
  color: grey;
  z-index: 100;
  font-family:"Courier New", Courier, monospace;
}

.round {
  border-radius: 50%;
  z-index: 100;
  font-family:"Courier New", Courier, monospace;

}


a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  font-family:"Courier New", Courier, monospace;
}
 */

/* Dropdown Button */
/*.dropbtn {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
/*.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/*Dropdown Button */
.dropbtn {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
    opacity: 0.5;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  opacity: 0.5;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
     opacity: 0.8;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
   opacity: 1;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f1f1f1;}
